body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-family: Microsoft YaHei;
  background-color: #F2F4F7;
  height: 66.6667rem;
}
span {
  display: block;
  font-size: 0.6667rem;
}
a {
  text-decoration: none;
  color: #333;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.wrap {
  background-color: #fff;
  padding-bottom: 0.2667rem;
}
.top {
  height: 2.3733rem;
  font-size: 0.9333rem;
  text-align: center;
  line-height: 2.3733rem;
  border-bottom: 0.0267rem solid #EAEAEA;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  color: #707070;
}
nav a img {
  width: 3.7067rem;
  height: 3.7067rem;
}
nav a img:nth-child(-n+3) {
  margin-top: 1.1733rem;
}
nav a span {
  margin: 0.72rem 0 0.6667rem;
}
.go {
  margin: 0.9333rem 0.5333rem 1.0667rem;
  background-size: 9.6267rem 2.0267rem;
}
.content1 {
  margin-top: 0.2667rem;
  padding: 1.2rem 0.64rem 1.0133rem 0.5867rem;
  background-color: #fff;
  width: 100%;
}
.content1 .content1-hd {
  height: 1.0133rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.04rem;
}
.content1 .content1-hd h4 {
  margin: 0;
  font-size: 0.7467rem;
  color: #333;
}
.content1 .content1-hd h4 img {
  display: inline-block;
  margin-bottom: 0.1333rem;
  width: 38px;
  vertical-align: middle;
}
.content1 .content1-hd a {
  height: 1.0133rem;
  line-height: 1.0133rem;
  font-size: 0.5867rem;
  color: #999999;
}
.content1 .get-job-skill {
  position: relative;
}
.content1 .get-job-skill .swiper-container {
  width: 14.4rem;
}
.content1 .get-job-skill .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  opacity: 0.2;
  transform: scale(0.8);
}
.content1 .get-job-skill .swiper-slide img {
  width: 9.0133rem;
  height: 10.0267rem;
}
.content1 .get-job-skill .swiper-slide span {
  margin-top: 0.64rem;
  width: 6.8rem;
  color: #333;
  font-size: 0.6667rem;
}
.content1 .get-job-skill .swiper-slide-active,
.content1 .get-job-skill .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.content2 {
  margin-top: 0.2667rem;
  padding: 1.2rem 0.64rem 1.0133rem 0.5867rem;
  background-color: #fff;
  width: 100%;
}
.content2 .content2-hd {
  height: 1.0133rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.04rem;
}
.content2 .content2-hd h4 {
  margin: 0;
  font-size: 0.7467rem;
  color: #333;
}
.content2 .content2-hd h4 img {
  display: inline-block;
  margin-bottom: 0.1333rem;
  width: 38px;
  vertical-align: middle;
}
.content2 .content2-hd a {
  height: 1.0133rem;
  line-height: 1.0133rem;
  font-size: 0.5867rem;
  color: #999999;
}
.content2 .study .swiper-container {
  padding: 0.2667rem;
}
.content2 .study .swiper-slide {
  font-size: 18px;
  background: #fff;
  height: 9.0667rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.content2 .study .swiper-slide img {
  margin: 0.1333rem;
  width: 7.2533rem;
  height: 4.56rem;
}
.content2 .study .swiper-slide h4 {
  font-size: 0.6667rem;
  font-weight: 400;
  margin-top: 0.2667rem;
}
.footer {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.6667rem;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
  padding: 0.5333rem 1.2rem;
}
.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer a img {
  width: 1.0667rem;
  margin-bottom: 0.1333rem;
}
